.container {
  border: 1px solid lime;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  @include breakpoint-down(xl) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
//=======| HERO |=========
.l-hero {
  // border: 1px solid red;
  position: relative; //esto es necesario
  height: 500px;
  display: grid;

  justify-content: center;
  align-items: center;
  @include breakpoint-up(md) {
    // background-color: red;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
  }
  //description
  &__description {
    // border: 1px solid orange;
    @include breakpoint-down(md) {
      padding-bottom: 1.5rem;
      // margin-top: 1.5rem;
    }
  }
  &__img-user {
    border: 1px solid red;
    @include breakpoint-down(md) {
      margin-bottom: -100px;
    }
  }
}

.flex {
  display: flex;
}
.flex-ai-center {
  align-items: center;
}
.flex-jc-spacebetween {
  justify-content: space-between;
}
.l-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-rows: auto;
  grid-gap: 1.5rem;
}
