.main {
  background-color: rgb(241, 248, 255);
  color: $background-4;
  color: #444;
}

.projects {
  padding-bottom: 3rem;
  &__title {
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 1.2rem;
    @include breakpoint-up(md) {
      font-size: 1.5rem;
    }
  }
}
.project-personal {
  // border: 1px solid orange;
  overflow: hidden;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  // min-height: 100%;
  background-color: white;
  h3 {
    margin: 0;
    padding: 0;
    // border: 1px solid red;
  }

  &__text {
    padding: 1.5rem;
    background-color: white;
    color: $background-5;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title {
    font-size: 1.3rem;
    // border: 1px solid red;
    color: #444;
    h3 {
      margin: 0;
      padding: 0;
      // border: 1px solid red;
    }
  }
  &__description {
    // border: 1px solid tomato;
    flex: 1; /* make p grow to fill available space*/
    font-size: 1.1rem;
    line-height: 1.4;
    color: rgb(150, 152, 166);
  }
  &__technology {
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;

    h4 {
      font-size: 1.2rem;
      color: #444;
    }
    ul {
      // border: 1px solid red;
      padding: 0;
    }
    li::before {
      content: "-";
      // border: 1px solid lime;
      padding-right: 0.3rem;
      color: $background-5;
    }
  }
}
h4 {
  margin: 0;
}
.container-code {
  align-self: flex-end;
  display: flex;
}
