//fondos
$background-1: #444;
$background-2: #070700;

$color-1: rgb(144, 144, 150);
$color-2: rgb(144, 144, 150);

$background-3: #070700;
$color-3: rgb(144, 144, 150);

$background-4: #181818;
$color-4: rgb(144, 144, 150);

$background-5: rgb(29, 29, 29);

$color-letter: #08fdd8;
