html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.mg-left-1 {
  margin-left: 1rem;
}

@media screen and (max-width: 767.98px) {
  .hide-for-mobile {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hide-for-desktop {
    display: none;
  }
}

.container-img {
  background-color: lightskyblue;
  position: relative;
  padding-bottom: 56.25%;
}

.container-img img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 8px 16px;
  font-size: 16px;
  letter-spacing: 0.5px;
  cursor: pointer;
  border-radius: 4px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.preview {
  border-color: #1d1d1d;
  background-color: #1d1d1d;
  color: white;
  margin-right: 5px;
}

.preview:hover {
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.preview:active {
  border-color: #08fdd8;
}

.code {
  border-color: #1d1d1d;
  background-color: #1d1d1d;
  color: white;
}

.code:hover {
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.code:active {
  border-color: #08fdd8;
}

.github {
  border-color: #1d1d1d;
  border-color: white;
  background-color: #1d1d1d;
  color: #08fdd8;
  color: white;
  letter-spacing: 0.5px;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}

.github:hover {
  color: #08fdd8;
  border-color: #08fdd8;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1199.98px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.l-hero {
  position: relative;
  height: 500px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .l-hero {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767.98px) {
  .l-hero__description {
    padding-bottom: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .l-hero__description {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/ 2;
  }
}

@media screen and (max-width: 767.98px) {
  .l-hero__img-user {
    margin-bottom: -100px;
  }
}

@media screen and (min-width: 768px) {
  .l-hero__img-user {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-ai-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-jc-spacebetween {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 1.5rem;
}

.l-about {
  padding-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .l-about {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 5rem;
  }
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  width: 100;
  background-color: #181818;
}

.header__container {
  height: 3.5rem;
}

.name {
  color: #909096;
  font-weight: 600;
  letter-spacing: 0.28px;
  font-size: 1.5rem;
}

.name span::first-letter {
  color: #08fdd8;
}

.name span {
  display: inline-block;
}

.menu-desktop {
  height: 100%;
}

@media screen and (max-width: 767.98px) {
  .menu-desktop {
    position: fixed;
    top: 3.5rem;
    width: 100%;
    left: 0;
    background-color: rgba(29, 29, 29, 0.95);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  }
}

@media screen and (max-width: 767.98px) {
  .menu-desktop.open {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.menu-desktop ul {
  padding: 0;
}

.menu-desktop__item:not(:first-child) {
  margin-left: 1.5rem;
}

.menu-desktop__link {
  color: #909096;
  letter-spacing: 0.28px;
  font-size: 1.3rem;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.menu-desktop__link:hover {
  color: #08fdd8;
}

.btn-hamburger {
  width: 1.5rem;
  height: 1.5rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(20%, white), color-stop(20%, transparent), color-stop(40%, transparent), color-stop(40%, white), color-stop(60%, white), color-stop(60%, transparent), color-stop(80%, transparent), color-stop(60%, white), to(white));
  background-image: linear-gradient(white, white 20%, transparent 20%, transparent 40%, white 40%, white 60%, transparent 60%, transparent 80%, white 60%, white 100%);
  cursor: pointer;
}

.btn-hamburger:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#08fdd8), color-stop(20%, #08fdd8), color-stop(20%, transparent), color-stop(40%, transparent), color-stop(40%, #08fdd8), color-stop(60%, #08fdd8), color-stop(60%, transparent), color-stop(80%, transparent), color-stop(60%, #08fdd8), to(#08fdd8));
  background-image: linear-gradient(#08fdd8, #08fdd8 20%, transparent 20%, transparent 40%, #08fdd8 40%, #08fdd8 60%, transparent 60%, transparent 80%, #08fdd8 60%, #08fdd8 100%);
}

.btn-hamburger.active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#08fdd8), color-stop(20%, #08fdd8), color-stop(20%, transparent), color-stop(40%, transparent), color-stop(40%, #08fdd8), color-stop(60%, #08fdd8), color-stop(60%, transparent), color-stop(80%, transparent), color-stop(60%, #08fdd8), to(#08fdd8));
  background-image: linear-gradient(#08fdd8, #08fdd8 20%, transparent 20%, transparent 40%, #08fdd8 40%, #08fdd8 60%, transparent 60%, transparent 80%, #08fdd8 60%, #08fdd8 100%);
}

@media screen and (max-width: 767.98px) {
  .menu-mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu-mobile .menu-desktop__item {
    margin: 0;
    padding-left: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.hero {
  position: relative;
  margin-top: 3.5rem;
  height: 500px;
  width: 100%;
  background: url(./../../static/img/hero.jpg), black;
  background-size: cover;
  background-position: center center;
}

.hero::before {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media screen and (max-width: 767.98px) {
  .hero__title {
    line-height: 1.4;
    max-width: 400px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .hero__title {
    font-size: 3rem;
  }
}

.user-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  height: 200px;
  width: 200px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .user-img {
    height: 300px;
    width: 300px;
  }
}

.user-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4rem;
}

@media screen and (max-width: 767.98px) {
  .cta {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main {
  background-color: #f1f8ff;
  color: #181818;
  color: #444;
}

.projects {
  padding-bottom: 3rem;
}

.projects__title {
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .projects__title {
    font-size: 1.5rem;
  }
}

.project-personal {
  overflow: hidden;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.project-personal h3 {
  margin: 0;
  padding: 0;
}

.project-personal__text {
  padding: 1.5rem;
  background-color: white;
  color: #1d1d1d;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project-personal__title {
  font-size: 1.3rem;
  color: #444;
}

.project-personal__title h3 {
  margin: 0;
  padding: 0;
}

.project-personal__description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  /* make p grow to fill available space*/
  font-size: 1.1rem;
  line-height: 1.4;
  color: #9698a6;
}

.project-personal__technology {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project-personal__technology h4 {
  font-size: 1.2rem;
  color: #444;
}

.project-personal__technology ul {
  padding: 0;
}

.project-personal__technology li::before {
  content: "-";
  padding-right: 0.3rem;
  color: #1d1d1d;
}

h4 {
  margin: 0;
}

.container-code {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about {
  color: #1d1d1d;
  background-color: #f1f8ff;
}

.about__title {
  background-image: -webkit-gradient(linear, left top, right top, from(#1d1d1d), to(#08fdd8));
  background-image: linear-gradient(to right, #1d1d1d, #08fdd8);
  color: white;
  font-size: 1.5rem;
}

.about__title h2 {
  margin: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.about__sub-title {
  font-size: 2rem;
  font-weight: bold;
  color: #444;
  text-transform: uppercase;
}

.about__p {
  font-size: 1.3rem;
  line-height: 1.4;
  color: #9698a6;
  color: #444;
}

.stack {
  color: #444;
  list-style: initial;
}

.stack__item {
  margin-bottom: 0.2rem;
  font-size: 1.3rem;
}

.contact {
  color: #444;
  background-color: #f1f8ff;
}

.contact__title {
  background-color: #1d1d1d;
}

@media screen and (max-width: 767.98px) {
  .contact__title {
    text-align: center;
    letter-spacing: 0.5px;
  }
}

.contact__title h2 {
  color: white;
  margin: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.5rem;
}

.contact__content {
  background-color: #444;
}

.contact .cta {
  margin-top: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.no_scroll {
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */